body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

/* Formulaire */
.login-form h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background: #f9f9f9;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 0.9rem;
    pointer-events: none;
    transition: 0.2s;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 0.75rem;
    color: #333;
    background: #fff;
    padding: 0 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0fadff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #17a2ed;
}

.links {
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #007BFF;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}